@keyframes onload {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Login-Page-Container {
  height: 88vh;
  width: 100vw;
  display: flex;
  background: url("../assets/Landing-Back.png");
  background-size: cover;
  background-color: black;
  animation: onload 1.5s;
}
.Login-Page-Container-Left {
  height: 100%;
  width: 60%;
  text-align: center;
  font-family: "Poppins";
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Login-Page-Container-Left > h1 {
  margin-top: 15%;
  font-size: 70px;
  width: 70%;
  color: white;
}
.Login-Page-Container-Left > p {
  width: 80%;
  color: white;
}
.Login-Page-Container-Right {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Login-Page-Container-Right > form {
  height: 50%;
  width: 55%;
  background-color: black;
  border-radius: 6px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  filter: drop-shadow(0 0 0.25rem white);
}
.Login-Page-Container-Right > form > input {
  height: 15%;
  width: 80%;
  border: none;
  border-radius: 8px;
  text-align: center;
}
.Login-Page-Container-Right > form > button {
  padding: 10px;
  font-family: "Poppins";
  border-radius: 15px;
  background-color: white;
  border: 2px solid white;
  transition: all 0.4s ease-in-out;
}
.Login-Page-Container-Right > form > button:hover {
  background-color: black;
  border: 2px solid white;
  color: honeydew;
}
.Login-Page-Container-Right>form>a{
  font-family: "Poppins";
  text-decoration: none;
  color: white;
  cursor: pointer;
}